body {
  margin: 0;
  height: 100vh;
  width: 100%;
  
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    grid-area: nav;
    @media (max-width: 768px) {
      display: block;
      width: 60%;
      margin: 10% 20%;
      justify-content: center;
      align-items: center;
    }
    .dropdown{
      visibility: hidden;
      display: block;
      .dropbtn{
        border-radius: 1rem;
      }
      .dropdown-content{
        
      }

    }
    .logo {
      display: flex;
      justify-content: flex-start;
      font-weight: bolder;
      letter-spacing: 3px;
      font-size: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: "Poppins", sans-serif;

      @media (max-width: 768px) {
        font-size: auto;
        align-items: center;
        justify-content: center;
      }

    }
    .nav-item {
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
      .item {
        display: flex;
        font-size: 20px;
        justify-items: center;
        align-items: center;
        margin: 15px 10px;
        text-decoration: none;
        color: black;
      }
      .special {
        padding: 10px;
        border: 3px solid #fef4e7;
        background-color: #fef4e7;
        border-radius: 25px;
        color: orange;
        margin-left: 30px;
      }
    }
    @media (max-width: 768px) {
      .dropdown{
        visibility: visible;
        justify-content: center;
        display: flex;
        .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          width: 80%;

        }
        
        .dropbtn:hover, .dropbtn:focus {
          background-color: #2980B9;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown a:hover {background-color: #ddd;}
        
        .show {display: block;}
      }
      .nav-item{
        visibility: hidden;
        margin: 0;
        position: absolute;
        display: block;
      }
    }
  }

  .container {
    display: grid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: "Poppins", sans-serif;
    grid-template-areas:
      "tx1 img1"
      "pos pos"
      "new new";

    column-gap: 50px;
    row-gap: 60px;

    @media (max-width: 768px) {
      display: block;
    }
    .item1 {
      grid-area: tx1;
      line-height: 50px;
      a {
        text-decoration: none;
        color: white;
        border: 1px solid #ffa500;
        border-radius: 15px;
        background-color: #ffa500;
        padding: 10px;
        font-size: 14px;
      }
    }
    .item2 {
      grid-area: img1;
    }
    .item3 {
      grid-area: pos;

      .box {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
          "box_1 box_2 box_3"
          "box_4 box_5 box_6";
        column-gap: 40px;
        row-gap: 40px;

        .card {
          margin-top: 20px;
          background-color: #edf7ff;
          border-radius: 20px;
          
          @media (max-width: 768px) {
            width: 90%;
            margin: 0 5%;
          }
          .box1 {
            grid-area: box_1;
            margin: 20px;
            align-items: center;
            

          }
          .box2 {
            margin: 20px;
            align-items: center;
            grid-area: box_2;
          }
          .box3 {
            margin: 20px;
            align-items: center;
            grid-area: box_3;
          }
          .box4 {
            margin: 20px;
            align-items: center;
            grid-area: box_4;
          }
          .box5 {
            margin: 20px;
            align-items: center;
            grid-area: box_5;
          }
        }
      }
      a {
        text-decoration: none;
        color: #ffa500;
      }
      span{
        font-weight: 600;
        font-size: 30px;
        
      }
      @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        .box{
          display: flex;
          flex-wrap: wrap;  
        }
      }
    }
    .item4{
      grid-area: new;
      position: absolute;
      margin-top: 80%;
      left:0;
      background-image: url('../assets/BG_header.png');
      
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        position: relative;


      }
      .box{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 1fr;
        grid-template-areas:
          "ti ti ti"
          "box_1 box_2 box_3";
        column-gap: 40px;
        margin: 20px 150px;
        @media (max-width: 768px) {
            display: block;
            flex-wrap: wrap;
            
        }
        .card{
          width: 100%;
          background-color: white;
          border-radius: 20px;

          .box1{
            grid-area: box_1;
          }
          .box2{
            grid-area: box_2;
          }
          .box3{
            grid-area: box_3;
          }
          img{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .title{
          grid-area: ti;
        }
      }

      a {
        text-decoration: none;
        color: #ffa500;
        align-items: center;
        display: flex;
        margin: 10px;
      }
      h4{
        font-size: 20px;
        margin: 10px;
      }
      p{
        font-weight: 350;
        margin: 10px;
        font-size: 18px;
      }
      span{
        font-weight: 600;
        font-size: 30px;
      }
    }

  }
  .wrapper{
    background-color: #063255;
    .footer{
      margin-left: 150px;
      margin-right: 150px;
      margin-top: 80%;
      display: grid;
      color: white;
  
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 100px;
      font-family: "Poppins", sans-serif;
      grid-template-areas:
        "inf1 inf2 inf3 inf4"
        "inf5 inf5 inf6 inf6";
  
      column-gap: 50px;
      row-gap: 60px;
      
      .item1{
        grid-area: inf1;
      }
      .item2{
        grid-area: inf2;
      }
      .item3{
        grid-area: inf3;
      }
      .item4{
        grid-area: inf4;
        .button {
          cursor: pointer;
          border: 1px solid #ffa500;
          border-radius: 15px;
          margin-top: 15px;
          padding: 8px;
          background-color: #ffa500;
          width: 50%;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .item5{
        grid-area: inf5;
      }
      .item6{
        grid-area: inf6;
      }
      h4 {
        font-size: 24px;
        font-weight: 500;
      }
      h3 {
        font-size: 28px;
        width: 300px;
      }
      p {
        font-weight: 300;
      }
      input {
        border-radius: 15px;
        padding: 12px;
        width: 250px;
      }
    }
  }


  .wrapper {
    background-color: #063255;
    position: relative;
    .footer {
      margin-left: 10%;
      margin-right: 10%;
      display: grid;
      color: white;

      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 0.5fr;
      font-family: "Poppins", sans-serif;
      grid-template-areas:
        "inf1 inf2 inf3 inf4"
        "inf5 inf5 inf6 inf6";

      column-gap: 50px;
      row-gap: 60px;

      .item1 {
        grid-area: inf1;
      }
      .item2 {
        grid-area: inf2;
      }
      .item3 {
        grid-area: inf3;
      }
      .item4 {
        grid-area: inf4;
        .button {
          cursor: pointer;
          border: 1px solid #ffa500;
          border-radius: 15px;
          margin-top: 15px;
          padding: 8px;
          background-color: #ffa500;
          width: 50%;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .item5 {
        grid-area: inf5;
      }
      .item6 {
        grid-area: inf6;
      }
      h4 {
        font-size: 24px;
        font-weight: 500;
      }
      h3 {
        font-size: 28px;
        width: 300px;
      }
      p {
        font-weight: 300;
      }
      input {
        border-radius: 15px;
        padding: 12px;
        width: 250px;
      }
      .shape {
        position: absolute;
        .shape-left {
          position: absolute;
          border: 1px solid #ffa500;
          width: 50px;
          height: 150px;
          border-top-right-radius: 20px;
          background-color: #ffa500;
          right: 7.6rem;
          top: 18.5rem;
          @media (max-width: 768px) {}
        }
        .shape-right {
          position: absolute;
          border: 1px solid #ffa500;
          width: 50px;
          height: 250px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          background-color: #ffa500;
          left: 82.2rem;
          top: 0px;
          @media (max-width: 768px) {
            display: none;

          }
        }
        
      }
    }
  }
  @media (max-width: 768px) {
    .wrapper{
      margin: 0;;
      padding: 0;
      width: 100%;
      font-size: 15px;
      display: block;
      .footer{
        display: block;



      }
    }
  }
}
