body {
  margin: 0;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  body {
    width: 100%;
    height: 100%;
  }
}
body .Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  grid-area: nav;
}
@media (max-width: 768px) {
  body .Navbar {
    display: block;
    width: 60%;
    margin: 10% 20%;
    justify-content: center;
    align-items: center;
  }
}
body .Navbar .dropdown {
  visibility: hidden;
  display: block;
}
body .Navbar .dropdown .dropbtn {
  border-radius: 1rem;
}
body .Navbar .logo {
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  body .Navbar .logo {
    font-size: auto;
    align-items: center;
    justify-content: center;
  }
}
body .Navbar .nav-item {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
body .Navbar .nav-item .item {
  display: flex;
  font-size: 20px;
  justify-items: center;
  align-items: center;
  margin: 15px 10px;
  text-decoration: none;
  color: black;
  width: auto;
}
body .Navbar .nav-item .special {
  padding: 10px;
  border: 3px solid #fef4e7;
  background-color: #fef4e7;
  border-radius: 25px;
  color: orange;
  margin-left: 30px;
}
@media (max-width: 768px) {
  body .Navbar .dropdown {
    visibility: visible;
    justify-content: center;
    display: flex;
  }
  body .Navbar .dropdown .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80%;
  }
  body .Navbar .dropdown .dropbtn:hover, body .Navbar .dropdown .dropbtn:focus {
    background-color: #2980B9;
  }
  body .Navbar .dropdown .dropdown {
    position: relative;
    display: inline-block;
  }
  body .Navbar .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  body .Navbar .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  body .Navbar .dropdown .dropdown a:hover {
    background-color: #ddd;
  }
  body .Navbar .dropdown .show {
    display: block;
  }
  body .Navbar .nav-item {
    visibility: hidden;
    margin: 0;
    position: absolute;
    display: block;
  }
}
body .header {
  display: block;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  body .header {
    width: 60%;
    height: 100%;
    margin: 0 20%;
  }
}
body .header .title {
  font-weight: 500;
  font-size: 50px;
  margin: 4rem 0;
}
body .header .job {
  display: flex;
  justify-content: space-between;
}
body .header .job .left {
  width: 50%;
}
body .header .job .right {
  width: 30%;
}
body .header .job span {
  font-weight: 400;
  font-style: 22px;
}
body .header .job p {
  font-weight: 350;
  font-style: 18px;
}
body .detail {
  background-image: url("../assets/BG_header.png");
  height: 70vh;
  width: 80%;
  margin: 10% 10%;
  border-radius: 20px;
  position: relative;
}
@media (max-width: 768px) {
  body .detail {
    height: 100%;
    width: 60%;
    margin: 0 20%;
  }
}
body .detail .box {
  display: grid;
  margin: 3rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1rem);
  font-family: "Poppins", sans-serif;
  grid-template-areas: "ti1 txt1" "ti2 txt2" "ti3 txt3";
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 70px;
}
@media (max-width: 768px) {
  body .detail .box {
    display: block;
  }
}
body .detail .box .title1 {
  font-weight: 500;
  grid-area: ti1;
  color: #ffa500;
  font-size: 22px;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  body .detail .box .title1 {
    font-weight: 600;
    font-size: 2rem;
  }
}
body .detail .box .title2 {
  font-weight: 500;
  grid-area: ti2;
  font-size: 22px;
  margin-top: 3rem;
}
body .detail .box .title3 {
  font-weight: 500;
  grid-area: ti3;
  font-size: 22px;
  margin-top: 3rem;
}
body .detail .box .text1 {
  grid-area: txt1;
  margin-top: 2rem;
}
body .detail .box .text1 p {
  font-weight: 350;
}
body .detail .box .text2 {
  grid-area: txt2;
  margin-top: 2rem;
}
body .detail .box .text2 p {
  font-weight: 350;
}
body .detail .box .text3 {
  grid-area: txt3;
  margin-top: 2rem;
}
body .detail .box .text3 p {
  font-weight: 350;
}
body .apply_section {
  width: 80%;
  margin: 10% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "ti ti" "it1 it2" "it3 it4" "it5 it5" "it5 it5" "but but";
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 70px;
}
body .apply_section .title {
  grid-area: ti;
  font-weight: 600;
  font-size: 40px;
}
@media (max-width: 768px) {
  body .apply_section .title {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
body .apply_section .item1 {
  grid-area: it1;
}
body .apply_section .item2 {
  grid-area: it2;
}
body .apply_section .item3 {
  grid-area: it3;
}
body .apply_section .item4 {
  grid-area: it4;
}
body .apply_section .item5 {
  grid-area: it5;
  width: 100%;
  height: 100%;
}
body .apply_section .item5 textarea {
  width: 100%;
  height: 10rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 2rem;
  background-color: #f8f9fc;
  font-size: 16px;
  resize: none;
  font-family: "Poppins", sans-serif;
}
body .apply_section .button {
  grid-area: but;
}
body .apply_section .button button {
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #ffa500;
  border: none;
  color: white;
  font-size: 16px;
}
body .apply_section input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  background-color: #f8f9fc;
  border-radius: 2rem;
}
body .wrapper {
  background-color: #063255;
  position: relative;
}
body .wrapper .footer {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  color: white;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.5fr;
  font-family: "Poppins", sans-serif;
  grid-template-areas: "inf1 inf2 inf3 inf4" "inf5 inf5 inf6 inf6";
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 60px;
}
body .wrapper .footer .item1 {
  grid-area: inf1;
}
body .wrapper .footer .item2 {
  grid-area: inf2;
}
body .wrapper .footer .item3 {
  grid-area: inf3;
}
body .wrapper .footer .item4 {
  grid-area: inf4;
}
body .wrapper .footer .item4 .button {
  cursor: pointer;
  border: 1px solid #ffa500;
  border-radius: 15px;
  margin-top: 15px;
  padding: 8px;
  background-color: #ffa500;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .wrapper .footer .item5 {
  grid-area: inf5;
}
body .wrapper .footer .item6 {
  grid-area: inf6;
}
body .wrapper .footer h4 {
  font-size: 24px;
  font-weight: 500;
}
body .wrapper .footer h3 {
  font-size: 28px;
  width: 300px;
}
body .wrapper .footer p {
  font-weight: 300;
}
body .wrapper .footer input {
  border-radius: 15px;
  padding: 12px;
  width: 250px;
}
body .wrapper .footer .shape {
  position: absolute;
}
body .wrapper .footer .shape .shape-left {
  position: absolute;
  border: 1px solid #ffa500;
  width: 50px;
  height: 150px;
  border-top-right-radius: 20px;
  background-color: #ffa500;
  right: 7.6rem;
  top: 18.5rem;
}
body .wrapper .footer .shape .shape-right {
  position: absolute;
  border: 1px solid #ffa500;
  width: 50px;
  height: 250px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffa500;
  left: 82.2rem;
  top: 0px;
}
@media (max-width: 768px) {
  body .wrapper .footer .shape .shape-right {
    display: none;
  }
}
@media (max-width: 768px) {
  body .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    display: block;
  }
  body .wrapper .footer {
    display: block;
  }
}/*# sourceMappingURL=Careers_2.css.map */